<ul>
  <% @players.each do |player| %>
    <li>
      <%= player.name %>
    </li>
  <% end %>
</ul>

<%= if @player.has_game %>
  <%= form_for @player, :url => {controller: "games", action: "create"}, :html => {:method => "get"} do |f| %>
    <%= f.submit "Play" %>
  <% end %>
<% end %>