<ul>
  <% @players.each do |player| %>
    <li>
      <%= player.name %>
    </li>
  <% end %>
</ul>

<%= form_for @player, :url => {controller: "play", action: "show"}, :html => { :method => "get" } do |f| %>
  <%= f.submit "Play" %>
<% end %>