<ul>
  <% @players.each do |player| %>
    <li>
      <%= player.name %>
    </li>
  <% end %>
</ul>

<% if @player.has_game != 'f' %>
  <%= link_to "Play", "/games/show" %>
<% else %>
  <h5>Please wait for an opponent to be matched... Please Refresh</h5>
<% end %>